:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: white;
  background-color: #1c1d22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-size: var(--font-size-md);
  font-family: var(--font-family);
  color: var(--body-color);
  background: var(--body-background);
  line-height: 1.3;
}

*,
:after,
:before {
  border: 0 solid;
  box-sizing: border-box;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

code {
  font-size: var(--font-size-md);
  font-family: var(--mono-font-family);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}
